<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/MyCSS/index.css" />
</head>
<body>
    <div class="header">
        <h1>Canduman Convenience Store</h1>
    </div>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/Scripts/MyScript/jquery-3.7.1.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
